@{
    ViewBag.Title = "Home Page";
}
    <div class="jumbotron">
        <h1>Welcome to People Search!</h1>
        <p>
            My People Search Application is an simple application, which allows user to search for people with first name or last name. This application is been developed using ASP.Net MVC with Entity Framework Code First approach.
        </p>
    </div>
</body>